.navbar{
    background-color: #fff !important;
    position: fixed;
    margin: auto;
    top: 0;
    z-index: 9999;
    min-width: 100%;
}
.nav-item-image{
    width: 50px;

}
.ham-item{
    width: 200px;
    background: #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem !important;
    padding: 5px;
    margin-bottom: 4rem;
    font-family: Arial;
    letter-spacing: 5px;
    border-radius: 2px;
}
#ham-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#navbar-nav{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    width: 100%;
}
#nav-link{
    font-weight: bold; 
    font-size: 14px; 
    color: #000; 
    letter-spacing: 4.9px;


    
}
#nav-link-brand{
    font-weight: bold; font-size: 20px; color: #cfa671;  letter-spacing: 4.9px;
}
#navbar-brand{
    font-weight: bold; 
    font-size: 20px; 
    color: #E7D2B8;
}
#ham-link{
    font-weight: 700; font-size: 14px; color: #000;
}
.gwpr{
    position: relative;
}

/* <!--================Images for Home page================--> */

.hoverstyle1{
    background-image: url('../img/Component 17.png');
}
.hoverstyle2{
    background-image: url('../img/Mask Group 28.png');
}
.hoverstyle3{
    background-image: url('../img/Mask Group 28.png');
}
.hoverstyle4{
    background-image: url('../img/Component 17.png');
}
.hoverstyle5{
    background-image: url('../img/Component 17.png');
}
.hoverstyle6{
    background-image: url('../img/Mask Group 28.png');
}
.hoverstyle7{
    background-image: url('../img/Mask Group 28.png');
}
.hoverstyle8{
    background-image: url('../img/Component 17.png');
}
@media only screen and (max-width:768px){
    .navbar-nav{
        text-align: center;
    }
}