@import url('http://fonts.cdnfonts.com/css/gotham');


.section1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}
.contact-form form{
    width: 100%;
    padding: 30px;
    padding-right: 150px;
    padding-top: 70px;
}
.contact-details{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham', sans-serif;
}

.contact-details a{
    color: black;
}
.contact-details h2{
    font-size: 20px;
    opacity: 80%;

}
input,textarea{
    width: 100%;
}
input{
    border: none;
    border-bottom: groove;
}
input:focus{
    outline: none;
}
textarea{
    border: 2px solid groove;
    padding: 20px;
    border-radius: 10px;
}
.submit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.details{
    padding: 100px;
    font-family: 'Gotham', sans-serif;
}
input[type=submit]{
    width: 200px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: goldenrod;
    color: white;
    
}
@media only screen and (max-width:1100px){

    .section1{
        flex-direction: column;
    }
    .details{
        width: 100vw;
        padding: 30px;
    }
    .contact-form{
        width: 100vw;
    }
.contact-form form{
        padding-right: 30px;
    }
}
