.section1{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 4rem;
}
.image-1{
    width:40%;
    overflow: hidden;
}
.image-2{
    width: 95%;
    overflow: hidden;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-2 img{
    width: 100%;
    transform: scale(1.1);
    transition: all 1s;
}
.image-2 img:hover{
    transform: scale(1.2);
}
.space{
    margin-left: 0;
    margin-right: 30px;
}

@media only screen and (max-width:1100px){
    .section1{
        flex-direction: column-reverse;
        height: auto;  
    }
    .image-2,.image-1{
        width: 100vw;
        margin: 0;
        height: 50vw;
        
    }
    
    .space{
        margin-top: 2rem;
    }
    .image-1 img{
        width: 100%;
    }
    .image-2 img{
        width: 100%;
    }
    .section-3{
        margin: 2rem 0 2rem 0 !important;
    }
    .decspacet{
        margin-top: 0;
    }
    .decspaceb{
        margin-bottom: 0;
    }
}